<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Booking - Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 th:text="'BOOKING CONFIRMATION'"></h1>
        </div>
    </section>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <h2 class="mx-auto">Your Booking Status</h2>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-5">
<!--            <form th:action="${event != null} ? '/events/edit/' + ${event.id} : '/events/add'" method="POST">-->

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Attendee Name</h5>
                    <p class="card-text" th:text="${booking.attendeeName}"></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Client IP Address</h5>
                    <p class="card-text" th:text="${booking.attendeeAddress}"></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Booking for Event</h5>
                    <p class="card-text" th:text="${booking.eventName}"></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Number of tickets</h5>
                    <p class="card-text" th:text="${booking.numberOfTickets}"></p>
                </div>
            </div>

            <div class="container justify-content-end">
                <a href="/events" type="button" class="btn btn-dark">Place Booking</a>
            </div>

<!--            </form>-->
        </div>
    </div>
</div>

</body>
</html>